<div th:replace="partials/header"></div>
<section class="site-section" id="next-section">
	<div class="container">

		<div class="row mb-5 justify-content-center">
			<div class="col-md-7 text-center">
				4
				<th:block th:if="${authorization=='USER'}">
					<th:block th:replace="fragments/navbar-user"></th:block>
				</th:block>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Hình</th>
							<th>Tên Sách</th>
							<th>Thể Loại</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ct: ${sachs}">
							<td><img width="200px" height="200px" th:src="@{|~/${ct.image}|}" /></td>
							<td th:text="${ct.bookname}"></td>
							<td th:text="${ct.type}"></td>
						</tr>
						<tr>
							<td><a th:href="@{/muonsach}">Đăng ký Mượn Sách</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>

<div th:replace="partials/footer"></div>