<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999.xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>My Contact list</h1>
</br>
<table border="1" cellpadding="10">
   <tr>
   <th>Mã bạn đọc</th>
   <th>Họ tên</th>
    <th>Giới tính</th>
     <th>Địa chỉ</th>
     
   </tr>
 <th:block th:if="${authorization=='USER'}">
        <th:block th:replace="fragments/navbar-user"></th:block>
    </th:block>
   <tr th:each="sv : ${SinhVienInfos}">
  <td th:utext="${sv.MaBanDoc}">..</td>
   <td th:utext="${sv.HoTen}">..</td>
   <td th:utext="${sv.GioiTinh}">..</td>
   <td th:utext="${sv.DiaChi}">..</td>
   </tr>


</table>
</body>
</html>